{% extends 'orders/base.html' %}

{% block title %}
  Kitchen Dashboard
{% endblock %}

{% block heading %}
  Kitchen Dashboard
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block main_content %}
  <div class="stations-box space-y-8">
    {% for station_name, items in order_items.items %}
     {% include 'orders/station-card.html'%}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_script %}
  <script>
    const stationBox = document.getElementsByClassName('stations-box')[0]
    setInterval(() => {
      console.log('Hey')
      fetch("{% url 'kitchen_dashboard_view_live_url' request.session.station_code %}")
        .then((response) => {
          if (!response.ok) throw new Error(`HTTP ${response.status}`)
          return response.text() // returns a promise
        })
        .then((data) => {
          console.log(data)
          //set blank
          stationBox.innerHTML = ''
    
          // set new data
          stationBox.innerHTML = data
        })
        .catch((error) => console.error('Fetch Error:', error))
    }, 5000)
  </script>
{% endblock %}
